<!DOCTYPE html>
<html>
<head>
    <title>Othello</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-6 col-mx-auto">
            <h1>Bienvenue sur le jeu du Othello</h1>
            <h3>Paramétrer votre jeu</h3>
            <form action="/new" method="post">
                <div class="columns">
                    <div class="column col-6">
                        <div class="form-group">
                            <label class="form-label" for="size">Taille du plateau</label>
                            <input class="form-input" type="number" value="8" name="size" id="size"
                                   placeholder="Taille du plateau">
                        </div>
                    </div>
                    <div class="column col-6">
                        <div class="form-group">
                            <label class="form-label" for="difficulty">Choisissez une difficulté</label>
                            <select class="form-select" id="difficulty" name="difficulty">
                                <option value="1">Facile</option>
                                <option value="3">Normal</option>
                                <option value="6">Difficile</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="columns" style="margin-top: 10px">
                    <div class="column col-12 col-mx-auto">
                        <button class="btn btn-primary btn-lg">Jouer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
