<!DOCTYPE html>
<html>
<head>
    <title>Othello</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-6 col-mx-auto">
            <h1>Othello</h1>
            <table class="table">
                <tbody>
                {% for x in board %}
                    <tr class="active">
                        {% for y in x %}
                            {% if y == None %}
                            <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
