<!DOCTYPE html>
<html>
<head>
    <title>Othello</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-6 col-mx-auto">
            <h1>Boutique</h1>
            <div class="columns">
                <div class="column col-6 col-ml-auto">
                    <div class="parallax">
                        <div class="parallax-top-left" tabindex="1"></div>
                        <div class="parallax-top-right" tabindex="2"></div>
                        <div class="parallax-bottom-left" tabindex="3"></div>
                        <div class="parallax-bottom-right" tabindex="4"></div>
                        <div class="parallax-content">
                            <div class="parallax-front">
                                <h2>Le jeu Physique</h2>
                            </div>
                            <div class="parallax-back">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/81grsVrs2eL._AC_SL1500_.jpg"
                                     class="img-responsive rounded" ...>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-ml-auto">
                    <div class="parallax">
                        <div class="parallax-top-left" tabindex="1"></div>
                        <div class="parallax-top-right" tabindex="2"></div>
                        <div class="parallax-bottom-left" tabindex="3"></div>
                        <div class="parallax-bottom-right" tabindex="4"></div>
                        <div class="parallax-content">
                            <div class="parallax-front">
                                <h2>Notre IA très facile</h2>
                            </div>
                            <div class="parallax-back">
                                <img src="/public/img/unknown.png" class="img-responsive rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" style="margin-top: 10px">
                <div class="column col-12 col-mx-auto">
                    <a class="btn btn-lg" href="/">Retour</a>
                    <button class="btn btn-lg" disabled>Précommander</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
